.form-add-item {
  border: 2px solid #f7f7f7;
  padding: 20px;
  input {
    background: #f7f7f7;
    padding: 8px 10px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #bdbdbd;
  }

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    padding: 10px 0 0;
  }
}