.section-items-list {
  padding: 100px 200px;


  .rect-outer {
    position: relative;
    padding: 100% 0 0;
  }
  .rect-inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .items-list-item {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    display: block;
  }
}