@import "reset";
@import "section-items-list";
@import "modal";

body {
  font-size: 16px;
}

button {
  background: #f7f7f7;
  padding: 10px 20px;
  border: 2px solid #bdbdbd;
  border-radius: 4px;
  font-size: 14px;
}

.container {
  margin: auto;
  max-width: 1000px;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}